.GymnasiumWellingdorfEditCarousel {
    display: flex;
    flex-basis: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    flex-direction: row;
}

.GymnasiumWellingdorfEditCarouselPage {
    width: 400px;
}